/* generic */



.heading{
    font-size: 40px;
    color: #6ADEFA;
}
#box{
    width: 70%;
    /*position:relative;*/
    margin:10% auto;
    min-height:200px;
    z-index:100;
    padding:30px;
    background-color: #2A3550;
}



/** inputs and textarea**/
input:not([type="submit"]), textarea{
    outline:none;
    display:block;
    width:90%;
    padding:4px 8px;
    font-size:14px;
}

.required{
    color:#E5224C;
}
.textHeading{
    color: white;
}
textarea{
    min-height:150px;
    resize:vertical
}

p{
    margin-bottom:20px;
}





