/* generic */

body{
    height: 100%;
}

.heading{
    font-size: 40px;
    color: #6ADEFA;
}
#box{
    width: 70%;
    /*position:relative;*/
    margin:10% auto;
    min-height:200px;
    z-index:100;
    padding:30px;
    background-color: #2A3550;
}

#introductionP{
    font-size: 16px;
    color: white;
    padding: 10% 10% 5% 10%;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 450px;}
}


.form-card{
    margin: 0 20% 5% 20%;
    padding: 40px;
    background-color: #2A3550;
    color: white;
}

.btn-primary{
    background-color: #85E2E2!important;
    color: #0E2026;
}


