body{

    background-color: #0E2026;
}
h1{
    color: #85E2E2;
}


footer{
    background-color: #0E2026;

}

.navbar {
    background-color: #0E2026;
}

.links:hover, li a:hover{
    color: #85E2E2;
    text-decoration: underline;
}

.dropdown-content {
    background-color: #0E2026;
}


/*
skip to content link
 */
.skip {
    background: #0E2026;
    color: #85E2E2;
}



#introductionP{
    font-size: 16px;
    color: white;
    padding: 40px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 10% 10% 0 10%;

    align-items: center;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height: 100%;

}


@keyframes animated-text{
    from{width: 0;}
    to{width: 450px;}
}





.container{
    padding-left: 40px;
    padding-right: 40px;
}

.gridItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}

.gridItems > article {
    background-color: #2C5159;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.gridItems > article img {
    max-width: 100%;
}

.gridItems .textBox {
    margin: 60% 10px 0px 10px;
    color: white;
    font-size: 16px;
    min-height: 150px;
}



.text-heading{
    display: none;
}

.gridItems h2{
    font-size: 30px;
    color:#85E2E2;
}


.card-links {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
a.card-links:visited {
    color:#85E2E2;
}

.word-tags{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag-border{
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px;
    border: 0.5px solid #0E2026;
    border-radius: 7px;
    background-color: #0E2026;
}

.tag-border:hover{
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px;
    border: 0.5px solid #85E2E2;
    background-color: #0E2026;
    border-radius: 7px;
}


@media screen and (min-width: 768px) {
    .links:hover, li a:hover{
        color: #85E2E2;
        background-color: #2C5159;
    }
}